/**
 * BUTTONS
 *
 * PALLETE
 * DIMENSIONS
 * DEFAULT ATOM
 * LIBRARY ATOMS
 */

/**
 * PALLETE
 */
$btn-default-bg: $btn-like-bg;
$btn-default-bg-hover: $btn-like-bg-hover;
$btn-cta-bg: #ba245f;
$btn-cta-bg-hover: #d93877;
$btn-default-color: $btn-like-color;

/**
 * DIMENSIONS
 */
$btn-radius: $border-radius;

/**
 * DEFAULT ATOMS
 */

/**
 * Default ovo.css button style. If you want to create your own
 * buttons copy this atom styles and make your own changes.
 *
 * Extending %btn abstraction.
 */

.btn,
%btn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-family: "Lato", Helvetica, Arial;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 0;
}

.btn {
    font-size: 12px;
    padding: 0 1em;
    line-height: 2.5;
    background-color: $btn-default-bg;
    color: $btn-default-color;
    border-radius: $btn-radius;

    transition: all 0.2s ease-in-out 0s;

    &:hover {
        background-color: $btn-default-bg-hover;
    }
}

.btn--cta {
    background-color: $btn-cta-bg;

    &:hover {
        background-color: $btn-cta-bg-hover;
    }
}