.input {
	padding: 0 $input-spacing;
	line-height: 2;
	border: 1px solid $border-color;
	border-radius: $border-radius;
}

.select {
	padding: 0 $input-spacing;
	line-height: 2;
	border: 1px solid $border-color;
	border-radius: $border-radius;
}