.info {
	@include font-size(11px, false);

	display: inline-block;
	padding: 0 1em;
	line-height: 1.5;
	background-color: $btn-like-bg;
    color: $btn-like-color;
    text-transform: uppercase;
    border-radius: em(40);
}